body {
  background-color: white;
  font-family: Rubik, sans-serif;
  margin: 0;
  overflow-x: hidden;
}
html {
  font-size: 3vh;
}
.section-Hero {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: space-between;
}
.max-width {
  width: 70%;
  margin-inline: auto;
}
.header1-Hero {
  font-size: 2rem;
  color: hsl(229, 31%, 21%);
}
.div-Hero {
  max-width: 100%;
}
.paragrapgh-Hero {
  font-size: 0.9em;
  color: hsl(229, 8%, 60%);
  font-weight: 400;
  line-height: 1.5;
}
.button-Hero {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 0.3rem;
  height: 20%;
  width: 60%;
}
.child-button-Hero {
  background-color: hsl(231, 69%, 60%);
  border-radius: 5px;
  color: white;
  font-size: 2em;
  font-weight: 500;
  border-color: white;
  margin-top: 20px;
  box-shadow: 10px 10px 10px -12px blue;
  width: 10vw;
  height: 7vh;
}
.child-button-Hero:hover {
  background-color: white;
  border-color: hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}
.child-button-Hero2:hover {
  background-color: white;
  border-color: hsl(229, 8%, 60%);
  color: hsl(229, 8%, 60%);
}
.child-button-Hero2 {
  border-radius: 5px;
  font-size: 2em;
  font-weight: 500;
  border-color: white;
  margin-top: 20px;
  box-shadow: 10px 10px 10px -12px hsl(229, 8%, 60%);
  color: hsl(229, 31%, 21%);
  width: 10vw;
  height: 7vh;
}
.image-Hero {
  height: 50vh;
}
.div2-Hero {
  width: 70vw;
  background-color: hsl(231, 69%, 60%);
  height: 40vh;
  position: absolute;
  left: 70%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  top: 15%;
  z-index: -1;
}
.header2-Review {
  font-size: 1.3rem;
  color: hsl(229, 31%, 21%);
}
.section3-Review {
  font-size: 10px;
  text-align: center;
}
.Paragrapgh-Review {
  font-size: 1rem;
  color: hsl(229, 8%, 60%);
  width: 60%;
}
.Father-Paragrapght-Review {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Father-Review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  gap: 30px;
  margin-top: 5%;
}
.Chrome-Child-Review {
  background-color: white;
  font-size: 2.7em;
  box-shadow: 3px 3px 10px -1px hsl(229, 8%, 60%);
  width: 25%;
  height: 100%;
  padding: 20px;
}
.Firefox-Child-Review {
  background-color: white;
  font-size: 2.7em;
  box-shadow: 3px 3px 10px -1px hsl(229, 8%, 60%);
  width: 25%;
  height: 100%;
  padding: 20px;
  margin-bottom: 80px;
}
.Opera-Child-Review {
  background-color: white;
  font-size: 2.7em;
  box-shadow: 3px 3px 10px -1px hsl(229, 8%, 60%);
  width: 25%;
  height: 100%;
  padding: 20px;
  margin-bottom: -80px;
}
.Paragrapgh-Review-Child {
  color: hsl(229, 8%, 60%);
  font-size: 0.7em;
}
.button-review {
  background-color: hsl(231, 69%, 60%);
  border-radius: 5px;
  width: 100%;
  color: white;
  font-size: 0.7em;
  font-weight: 500;
  height: 70%;
  border-color: white;
  margin-top: 20px;
  box-shadow: 10px 10px 10px -12px blue;
}
.button-review:hover {
  background-color: white;
  border-color: hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
}
.father-button-review {
  height: 70px;
}
.section5-Cra {
  background-color: hsl(231, 69%, 60%);
  padding: 50px 0 50px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.child-section5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header2-Cra {
  font-size: 2.3rem;
  color: white;
  width: 45vw;
  text-align: center;
}
.Paragrapgh-Cra {
  font-size: 1.1rem;
  letter-spacing: 0.3em;
  color: white;
}
.Email-Cra {
  height: 7vh;
  width: 20vw;
  border-radius: 5px;
  font-size: 0.9rem;
  padding-left: 20px;
  border: none;
}
.button-Cra {
  height: 7.5vh;
  border-radius: 5px;
  background-color: hsl(0, 94%, 66%);
  color: white;
  width: 7vw;
  font-size: 0.7rem;
  border: none;
}
.button-Cra:hover {
  background-color: white;
  border: 3px solid hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
  font-weight: 500;
}
.father-button {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.section6-Footer {
  background-color: hsl(229, 31%, 21%);
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.child-section6-Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25vw;
}
.section6-child {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 50%;
  align-items: center;
  justify-content: center;
}
.section6-child > p {
  color: white;
  font-size: 0.7rem;
}
.section6-child > P:hover{
  color: hsl(0, 94%, 66%);
}
.svg1-footer:hover{
  fill: hsl(0, 94%, 66%);
}

